@font-face {
    font-family: "Norse Bold";
    src: url(../fonts/Norse-Bold.woff2) format("woff2");
}

:root {
    --fs-medium: 1rem;
    --fs-small: 0.75rem;
    --fs-large: 1.5rem;
    --fs-xlarge: 2.5rem;

    --clr-primary: #f9fafb;
    --clr-secondary: #596d48;
    --clr-tertiary: #1f1f20;
    --clr-alt: #1f2937;
    --clr-white: #ffffff;
    --clr-error: #c74949;
    --clr-checked: #2151d9;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family:
        system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a:link,
a:visited {
    color: inherit;
}

.form-container {
    display: flex;
    height: 100vh;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--clr-secondary);
    background-image: url(../images/bg-img.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100vh;
    color: var(--clr-white);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(240, 2%, 12%, 50%);
    height: fit-content;
    min-width: 100%;
    padding: 0.5rem;
    font-family: "Norse Bold";
    font-size: var(--fs-xlarge);
}

.logo img {
    height: 100px;
}

.credit {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 40%;
}

.credit p {
    margin: 0.5rem;
    font-size: var(--fs-small);
    text-align: center;
    width: fit-content;
}

form {
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color: var(--clr-primary);
    color: var(--clr-tertiary);
}

.form-header {
    max-width: 840px;
    padding: 5rem 2.5rem 3rem 2.5rem;
    font-size: var(--fs-large);
}

.form-header p {
    padding-top: 1rem;
    font-weight: 700;
}

.register-info {
    background-color: var(--clr-white);
    padding: 1rem 2.5rem;
    box-shadow: 0 15px 15px -22px var(--clr-tertiary);
}

.register-info > h2 {
    padding-bottom: 2rem;
    color: var(--clr-alt);
    font-size: var(--fs-large);
    font-weight: 600;
}

.form-inputs {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4rem;
    row-gap: 1rem;
    max-width: 650px;
}

.input {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
}

.submit {
    padding: 3rem 2.5rem 1rem 2.5rem;
}

.login {
    padding: 1rem 2.5rem;
}
